@use "_base.scss" as *;
.background-color {
  background-color: $primary-color;
}
.shopping-main {
  padding: 12rem;
  @include layout();
  flex-direction: column;
  color: $white;

  h2 {
    @include title(2.5rem);
    margin-bottom: 1.5rem;
    font-family: $primary-font;
  }

  .leegte{
    font-size: 1.5rem;
  }

  .cart-item {
    border: 1px solid $secondary-color;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    padding: 1rem;

    .cart-item-details {
      @include layout;

      .cart-item-image {
        max-width: 100px;
        margin-right: 1rem;
      }

      .cart-item-info {
        h3 {
          @include title(1.5rem);
          font-family: $primary-font;
        }

        p {
          @include paragraph(1rem);
          font-family: $secondary-font;
        }
      }
    }

    .cart-item-actions {
      @include layout;

      input {
        width: 40px;
        margin: 0 1rem;
        padding: 0.5rem;
        text-align: center;
      }

      button {
        background-color: $tertiary-color;
        color: $white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        font-family: $secondary-font;
      }
    }

    .cart-item-price {
      margin-top: 1rem;

      p {
        @include paragraph(1rem);
        font-family: $secondary-font;
      }
    }
  }

  .cart-summary {
    margin-top: 1.5rem;

    p {
      @include paragraph(1rem);
      font-family: $secondary-font;
    }
  }

  .checkout-button {
    margin-top: 1.5rem;
    @include textStyles;
    padding: 1rem;
    background-color: $tertiary-color;
    color: $white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: $secondary-font;
  }
}